<p-toast></p-toast>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <h2>Sorter Admin</h2>
  </div>
</p-toolbar>
<br>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-8">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Comments">
        <br>
        <div *ngFor="let comment of comments; index as i" class="p-grid">
          <div class="p-col-12 p-grid">
            <div class="p-col-4">
              <div class="ui-float-label">
                <input [id]="'number-input' + i" type="text" pInputText [(ngModel)]="comment.property">
                <label [for]="'number-input' + i">Property Value</label>
              </div>
              <p-dropdown [options]="invoiceProperties" [(ngModel)]="comment.properties" optionLabel="label"
                placeholder="Input Data">
              </p-dropdown>
            </div>
            <div class="p-col-4">
              <textarea [id]="'value-input' + i" placeholder="Comment" type="text" pInputTextArea rows="5" cols="30"
                [(ngModel)]="comment.value"></textarea>
            </div>
            <div class="p-col-4 p-grid">
              <div class="p-col-6">
                <button pButton type="button" (click)="saveComment(comment, i)" icon="fa fa-save" iconPos="left"
                  label="Save"></button>
              </div>
              <div class="p-col-6">
                <button pButton type="button" class="ui-button-danger" (click)="deleteComment(comment)"
                  icon="fa fa-trash" iconPos="left" label="Delete"></button>
              </div>
            </div>
            <div class="p-grid" style="margin-bottom: 15px;">
              <div class="p-col-12">
                <p-radioButton [name]="'radio' + i" [value]="true" label="Income" [(ngModel)]="comment.income">
                </p-radioButton>
              </div>
              <div class="p-col-12">
                <p-radioButton [name]="'radio' + i" [value]="false" label="Expense" [(ngModel)]="comment.income">
                </p-radioButton>
              </div>
            </div>
          </div>
        </div>
        <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Add" (click)="addComment()"></button>
      </p-accordionTab>
      <p-accordionTab *ngFor="let sortingGroup of sortingGroups; index as j" [header]="sortingGroup.groupName"
        [selected]="!sortingGroup.id">
        <br>
        <div class="ui-float-label">
          <input [id]="'group-input' + j" type="text" pInputText [(ngModel)]="sortingGroup.groupName">
          <label [for]="'group-input' + j">Group Name</label>
        </div>

        <h2>Sorting data:</h2>
        <hr>
        <p-accordion [multiple]="true">
          <p-accordionTab *ngFor="let sortingData of sortingGroup.sortingDataList; index as i" [header]="i + 1"
            [selected]="true">
            <div class="p-Grid">
              <div class="p-col">
                <div>
                  <p-dropdown [options]="invoiceProperties" [(ngModel)]="sortingData.selectedProperty"
                    optionLabel="label" (onChange)="onPropertyChange($event, sortingData)" placeholder="Input Data">
                  </p-dropdown>
                </div>
                <div *ngIf="sortingData.collNumber != -1">
                  <br>
                  <div class="ui-float-label">
                    <input [id]="'column-id' + i" type="number" pInputText [(ngModel)]="sortingData.collNumber">
                    <label [for]="'column-id' + i">Column Id</label>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="sortingData.invoiceProperties || sortingData.collNumber != -1">
              <hr>
              <div *ngIf="sortingData.collNumber != -1">
                <br>
                <p-dropdown [options]="dataTypes" optionLabel="label" [(ngModel)]="sortingData.selectedDataType"
                  placeholder="Input Data" (onChange)="onDataTypeChange($event, sortingData)">
                </p-dropdown>
              </div>
            </div>

            <div *ngIf="sortingData.date === true">
              <br>
              <div class="ui-float-label">
                <p-calendar [(ngModel)]="sortingData.dateValue" dateFormat="dd.mm.yy"></p-calendar>
              </div>
            </div>

            <div *ngIf="sortingData.string === true">
              <br>
              <div class="ui-float-label">
                <input [id]="'string-val' + i" type="text" pInputText [(ngModel)]="sortingData.stringValue">
                <label [for]="'string-val' + i">Value To Compare</label>
              </div>
            </div>

            <div *ngIf="sortingData.number === true">
              <br>
              <div class="ui-float-label">
                <input [id]="'num-val' + i" type="number" pInputText [(ngModel)]="sortingData.numberValue">
                <label [for]="'num-val' + i">Value To Compare</label>
              </div>
            </div>
            <br>
            <p-checkbox checkboxIcon="fa fa-check" binary="true" [(ngModel)]="sortingData.required" label="Required">
            </p-checkbox>

            <div class="p-grid">
              <div class="p-col-10">

              </div>
              <div class="p-col-1">
                <button pButton type="button" class="ui-button-danger" (click)="deleteData(sortingGroup, sortingData)"
                  icon="fa fa-trash" iconPos="left" label="Delete"></button>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <br>
        <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Add"
          (click)="addData(sortingGroup)"></button>

        <hr>
        <div class="p-grid">
          <div class="p-col-10">
            <button pButton type="button" (click)="saveGroup(sortingGroup)" icon="fa fa-save" iconPos="left"
              label="Save"></button>
          </div>

          <div class="p-col-1">
            <button pButton type="button" class="ui-button-danger" (click)="deleteGroup(sortingGroup)"
              icon="fa fa-trash" iconPos="left" label="Delete"></button>
          </div>

        </div>
      </p-accordionTab>
    </p-accordion>
    <br>
    <button pButton type="button" icon="fa fa-plus" iconPos="left" label="Add" (click)="addGroup()"></button>
  </div>
  <div class="p-col-2"></div>
</div>
